@charset "UTF-8";

/*
    em html é id    = em css é # (só pode um elementos)
    em html é class = em css é .(pode vários elementos)
*/

body{
    background-color: rgb(192, 248, 252);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(10, 60, 78);
}

h1#principal{
    text-align: center;
    background-color: rgb(21, 88, 109);
    color: white;

}

h2{
    color: rgb(50, 83, 102);
}

.basico{
    color: #3e803e;
}

.intermediario{
    color: #6c803e;
}

.avançado{
    color: #803e3e;
}

.destaque{
    background-color: rgba(172, 172, 51, 0.397);
}



